
.arrival{
    margin-top: 40px;

    &_title{
        text-align: center;
        position: relative;

        h2{
            color: #ffffff;
            font-size: 45px;
            display: inline;
            margin: 0 auto;
        }

        p{
            color: rgb(204, 204, 204);
            font-size: 18px;
            margin-top: 5px;
        }

        &::before{
            content: '';
            position: absolute;
            width: 5%;
            height: 3px;
            bottom: -20px;
            left: 47.5%;
            background: yellow;
        }
    }

    &_body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
}