@import '../variables.scss';

.search{
    position: fixed;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    top: 0;
    transition: .3s;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);

    .search_closer2{
        display: none !important;

        @media screen and (max-width: 1050px){
            display: flex !important;
            right: 2% !important;
        }

        @media screen and (max-width: 800px){
            right: 5% !important;
        }

        @media screen and (max-width: 500px){
            right: 3% !important;
        }
    }

    .search_closer2,
    &_closer{
        position: absolute;
        top: 30px;
        right: 50px;
        height: 45px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        font-size: 35px;
        background: $app-color;
        cursor: pointer;

        @media screen and (max-width: 1050px){
            display: none;
        }

        svg{
            color: white;
        }
    }
    
    &_wrapper{
        background: #292929;
        width: 80%;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        padding: 40px;
        padding-bottom: 0px;
        height: 100%;
        overflow-y: scroll;

        @media screen and (max-width: 800px){
            width: 100%;
        }

        &::-webkit-scrollbar{
            background: none;
            width: 6px;
        }

        &::-webkit-scrollbar-thumb{
            background: $app-color;
            border-radius: 10px;
        }

        &_header{
            display: flex;
            position: relative;
            height: 40px;
            width: 100%;
            justify-content: space-between;

            @media screen and (max-width: 1050px){
                width: 95%;
            }

            @media screen and (max-width: 800px){
                width: 90%;
            }

            input{
                width: 100%;
                box-sizing: border-box;
                position: absolute;
                padding-right: 90px;
                border: none;
                border-bottom: 1px solid white;
                font-weight: 600;
                outline: none;
                padding-bottom: 20px;
                font-family: 'Raleway', sans-serif;
                background: none;
                color: white;
                font-size: 20px;
                height: 100%;
                
                @media screen and (max-width: 600px){
                    font-size: 18px;
                    padding-right: 80px;
                }

                &::placeholder{
                    color: white;
                }
            }

            button{
                cursor: pointer;
                outline: none;
                position: absolute;
                background: none;
                border: 0;
                right: 0;
                font-size: 23px;
                color: white;
                border-radius: 10px;
                transition: .3s;
                width: 5%;

                @media screen and (max-width: 900px){
                    width: 8%;
                    top: -2px;
                }

                @media screen and (max-width: 440px){
                    width: 10%;
                }

                @media screen and (max-width: 400px){
                    width: 12%;
                }
                
                &:hover{
                    color: $app-color;
                }
            }

            span{
                position: absolute;
                right: 55px;
                cursor: pointer;
                display: none;
                color: white;
                font-size: 20px;

                @media screen and (max-width: 600px){
                    right: 45px;
                }
            }

            .activeTimes{
                display: block;
            }
        }
        
        &_body{
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;

            @media screen and (max-width: 650px){
                justify-content: center;
            }

            &_search{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 350px;
                color: white;
                font-weight: 500;
                font-size: 45px;

                svg{
                    color: $app-color;
                    margin-bottom: 15px;
                    font-size: 60px;
                }

                @media screen and (max-width: 1050px){
                    font-size: 37px;

                    svg{
                        font-size: 50px;
                    }
                }

                @media screen and (max-width: 650px){
                    font-size: 33px;

                    svg{
                        font-size: 45px;
                    }
                }

                @media screen and (max-width: 450px){
                    font-size: 29px;
                }

                @media screen and (max-width: 400px){
                    font-size: 27px;
                }
            }
        }
    }

    &_active{
        opacity: 1;
        pointer-events: all;
    }
}