
.single{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &_pics{
        width: 11%;

        &_active{
            box-shadow: 0px 0px 2px 2px yellow;
        }

        img{
            width: 100%;
            cursor: pointer;
            height: 160.5px;
            object-fit: cover;
            margin-bottom: 5px;
        }
    }

    &_image{
        width: 50%;
        height: 500px;

        img{
            width: 100%;
            height: 100%;
            cursor: zoom-in ;
            object-fit: cover;
        }
    }

    &_body{
        box-sizing: border-box;
        padding-left: 15px;
        width: 37%;

        h3{
            color: white;
            font-size: 26px;
            font-weight: 400;
            margin: 0px;
        }

        p{
            color: grey;
            font-size: 15px;
        }

        &_price{
            display: flex;
            align-items: center;
            
            span{
                color: yellow;
                font-weight: bold;
                display: flex;
                font-size: 35px;
                align-items: center;
            }

            .discountPrice{
                margin-left: 10px;
                color: grey;
                font-size: 21px;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 15px;
                    width: 100%;
                    height: 1px;
                    background: grey;
                }
            }
        }

        &_color{
            margin-top: 20px;
            color: white;

            span{
                font-weight: 600;
                margin-right: 5px;
            }

            &_wrapper{
                display: flex;
                flex-wrap: wrap;
                margin-top: 15px;

                div{
                    cursor: pointer;
                    background: rgb(255, 5, 5);
                    width: 35px;
                    height: 35px;
                    border: 2px solid yellow;
                }
            }
        }

        &_size{
            margin-top: 20px;
            color: white;

            span{
                font-weight: 600;
                margin-right: 5px;
            }

            &_wrapper{
                display: flex;
                flex-wrap: wrap;
                margin-top: 15px;

                div{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border: 2px solid white;
                    margin-right: 10px;
                }
            }
        }

        &_lower{
            margin-top: 30px;
            align-items: center;
            justify-content: space-between;
            display: flex;
            height: 40px;

            button{
                width: 70%;
                outline: none;
                height: 100%;
                background: yellow;
                color: white;
                border: none;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
            }

            input{
                width: 15%;
                height: 100%;
                box-sizing: border-box;
                outline: none;
                border: 1px solid yellow;
                background: none;
                color: white;
                text-align: center;
                font-size: 16px;
            }

            span{
                cursor: pointer;
                font-size: 35px;
                color: white;
            }
        }
    }
}