@import '../../variables.scss';

.cart_body{
    margin-top: 30px;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background: $app-bgColor;
    }
}