@import '../../variables.scss';

.cart_body{
    margin-top: 30px;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background: $app-bgColor;
    }
}

.cart_btn{
    text-align: center;
    margin: 20px 0;

    button{
        border-radius: 5px;
        cursor: pointer;
        color: $app-bgColor;
        border: none;
        outline: none;
        font-weight: 700;
        padding: 10px 25px;
        font-size: 17px;
        transition: .3s;
        background: $app-color;

        &:hover{
            color: white;
        }
    }
}