.color{
    margin-top: 20px;
    color: white;

    span{
        font-weight: 600;
        margin-right: 5px;
    }

    &_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;

        div{
            width: 35px;
            height: 35px;
            border: 2px solid yellow;
        }
    }
}

.size{
    margin-top: 20px;
    color: white;

    span{
        font-weight: 600;
        margin-right: 5px;
    }

    &_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;

        div{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border: 2px solid white;
            margin-right: 10px;
        }
    }
}

.content{
    margin-top: 15px;

    h3{
        margin-bottom: 8px;
    }

    p{
        margin: 0;
        color: white;
        height: 70px;
        overflow: hidden;
        line-height: 1.6;
        font-weight: 300;

        @media screen and(max-width:1050px){
            height: inherit;
        }
    }
}