@import '../../variables.scss';

.redirect{
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    color: white;
    font-size: 28px;

    span{
        cursor: pointer;
        margin-right: 10px;
        color: $app-color;
        font-size: 33px;
        text-decoration: underline;
    }

    p{
        margin: 0;
        margin-top: 10px;
        color: rgb(230, 230, 230);
    }
}