@import '../../variables.scss';

.view{
    position: fixed;
    height: 100vh;
    background: white;
    z-index: 10;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    transform: scale(.9);
    left: 0;
    top: 0;
    width: 100%;
    overflow-y: scroll;

    @media screen and (max-width: 600px){
        display: none;
    }

    &::-webkit-scrollbar{
        width: 15px;
        display: block;
    }
    
    &::-webkit-scrollbar-thumb{
        background: $app-color;
        border-radius: 20px;
    }

    &_active{
        transform: scale(1);
        opacity: 1;
        pointer-events: all
    }

    &_wrapper{
        position: relative;
        margin: 50px auto;
        width: 80%;
        height: 1500px;

        &_close{
            position: absolute;
            cursor: pointer;
            right: -70px;
            font-size: 65px;
            transition: .3s;

            &:hover{
                color: $app-color;
            }
        }

        img{
            width: 100%;
            border-radius: 5px;
            height: 100%;
            object-fit: cover;
        }
    }
}