@import '../../variables.scss';

.cart{
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid rgb(128, 128, 128);
    padding-top: 30px;
    margin-bottom: 30px;

    &_info{
        width: 60%;
        display: flex;

        img{
            width: 150px;
            height: 100%;
            object-fit: cover;
        }

        h3{
            color: white;
            margin: 0;
            margin-left: 50px;
            font-size: 19px;
            font-weight: 300;
            width: 300px;
        }
    }

    &_wrapper{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 40%;
        position: relative;

        &_remove{
            position: absolute;
            color: $app-color;
            cursor: pointer;
            font-weight: 500;
            right: 0;
            bottom: 0;
            font-size: 14px;
        }

        &_price{
            width: 30%;
            font-size: 25px;
            color: white;
            text-align: right;
        }

        &_quantity{
            position: relative;
            width: 35%;
            box-sizing: border-box;
            padding-left: 55px;
            text-align: center;

            &_minus,
            &_plus{
                right: 15px;
                cursor: pointer;
                top: 16px;
                width: 15px;    
                height: 15px;
                font-size: 30px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;

                &:hover{
                    color: $app-color;
                }
            }

            &_minus{
                left: 15px !important;
            }

            div{
                position: relative;
                height: 50px;
                border: 1px solid white;
                
                p{
                    color: white;
                    margin: 0;
                    margin-top: 13px;
                    font-size: 18px;
                }
            }
        }
        
        &_total{
            width: 35%;
            font-size: 25px;
            color: white;
            text-align: right;
        }
    }
}