
@import '../../variables.scss';

.famousItem{
    width: 32%;
    height: 320px;
    margin-bottom: 30px;
    
    &:hover &_body{
        border: 1px solid $app-color;
    }

    &_title{
        color: white;
        font-size: 35px;
        height: 20%;
        margin: 0px;
    }

    &_body{
        display: flex;
        justify-content: space-between;
        transition: .3s;
        height: 80%;
        align-items: center;
        overflow: hidden;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;

        &_activeTitle{
            background: yellow;
        }

        ul{
            width: 45%;
            list-style-type: none;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
                cursor: pointer;
                color: white;
                font-size: 18px;
                height: 20%;
                transition: .3s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid rgb(97, 97, 97);
                font-weight: 600;
            }
        }

        img{
            object-fit: cover;
            width: 55%;
            height: 100%;
        }
    }
}