.search{
    width: 32%;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none;

    &_image{
        width: 100%;
        height: 400px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .5s;
        }
    }

    &:hover &_image img{
        transform: scale(1.1);
    }

    &_body{
        font-weight: 300;
        margin-top: 10px;

        p{
            color: white;
            font-size: 20px;
            line-height: 1.6;
            margin: 0;
        }

        &_span{
            color: yellow;
            display: flex;
            position: relative;
            align-items: center;
            font-size: 27px;
            margin-top: 10px;
            font-weight: 500;
        }
    }
}