
.auth{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;

    &_header{
        margin-bottom: 20px;

        span{
            cursor: pointer;
            margin: 0 10px;
            color: white;
            font-size: 19px;
            font-weight: 500;
            position: relative;
            transition: .3s;
            padding: 7px 15px;
            border-radius: 30px;
            border: 1px solid yellow;
        }

        &_btn{
            background: yellow;
        }
    }
}