@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

.root{
    font-family: $app-fontFamily;
    width: 90%;
    margin: 0 auto;
}

button{
    font-family: $app-fontFamily;
}

*{
    &::-webkit-scrollbar{
        background: none;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb{
        background: yellow;
        border-radius: 10px;
    }
}