@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.root{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin: 0 auto;
}

button{
    font-family: 'Raleway', sans-serif;
}