
.skeleton{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;

    div{
        width: 19%;
        background: #cfcfcf;
        height: 250px;
        margin: 0 .5%;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 120%;
            height: 100%;
            background: rgb(207,207,207);
            background: linear-gradient(90deg, rgba(207,207,207,0) 10%, rgba(189,189,189,1) 48%, rgba(189,189,189,0) 100%, rgba(108,255,0,1) 100%);
            animation: skeletonMove 1.5s linear infinite;
        }
    }
}

@keyframes skeletonMove {
    0%{
        left: -40%
    }100%{
        left: 100%;
    }
}